.h{
    
    float:right;
    margin-top: 50px;
    margin-right: 200px;
    
   
}
.co{
    background-color: rgb(78, 78, 212);
    width:100%;
    height:1000px
}
.hq{
   
        width:100%;
        float:right;
        color:crimson;
        margin-top: 50px;
        margin-right: 200px;
       
    
}
.strick{
    text-decoration: line-through;
  }
  .ri{
      float:right;
  }
  .ba{
      background-image: url('../back.jpeg');
      width:100%;
      height:700px;
  }

